extends ../layouts/common
block content
  h1.mt-5.mb-5 View product
  .d-flex.mb-5
    .img
      img.card-img-top(src= product.image, alt= product.name)
    .description.mt-4.mt-lg-0.ml-4.ml-lg-auto.w-50
      h3= product.name
      p= product.description
      p= product.price
      a.btn.btn-danger(href='#') Buy
  a.btn.btn-info(href="/products") Back